<% admin_layout "full-width" %>

<% admin_breadcrumb(t("spree.settings")) %>
<% admin_breadcrumb(link_to plural_resource_name(Spree::ProductFeed), admin_product_feeds_path(@product_feed)) %>
<% admin_breadcrumb(@product_feed.name) %>

<%= render partial: "spree/shared/error_messages", locals: { target: @product_feed } %>

<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :header_actions do %>
  <% if can?(:create, Spree::ProductFeed) %>
    <li>
      <%= link_to new_object_url, id: 'admin_new_product_catalog_link', class: 'btn btn-primary' do %>
        <i class="fa fa-plus mr-2"></i>
        <span><%= I18n.t('spree.new_product_feed') %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<%= form_for [:admin, @product_feed], method: :put, html: { class: "edit_product_feed product-feed-form-container mt-0" } do |f| %>
  <%= render partial: "form", locals: { f: f } %>
  <%= render partial: "spree/admin/shared/edit_resource_links" %>
<% end %>
